table {
    width: 300px;
}

table, th, td {
    border: 2px solid black;
}

td {
    text-align: center;
}

th {
    color: darkblue;
}

#p1 {
    background-color: cadetblue; 
    color: chartreuse;
}